*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;

}
body{
    min-height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
background-color: black;
overflow: hidden;
}
.container{

}
 .text{
    position: relative;
    color:#4070f4;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;

}
.first-text{
    color: white;
}
.second-text:before{
    content: '';
    position: absolute;
    top:0;
    left:5px;
    height:100%;
    width: 100%;
    background-color: rgb(2, 2, 2);
    border-left:2px solid #4070f4;
    animation: animate 4s steps(12) infinite }
 @keyframes animate{
    40%, 60% {
        left: 100%;
    }
   100% {
        left:0 ;
    }
 }